*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.pbxuser
xcuserdata/
project.xcworkspace/
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
mobile/ios/TouchDown/Touchdown/*.DS_Store
mobile/ios/TouchDown/Touchdown/*.xcworkspace
mobile/ios/TouchDown/Touchdown/Pods/**
mobile/ios/TouchDown/Touchdown/*.lock