<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>782799472423-d7ehcsj0j4g0i23mmhp3bbru7a9hkrv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782799472423-d7ehcsj0j4g0i23mmhp3bbru7a9hkrv6</string>
	<key>API_KEY</key>
	<string>AIzaSyAXcb7wuC5kTIESnFgEjOnk6STpCDQ9u8g</string>
	<key>GCM_SENDER_ID</key>
	<string>782799472423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lk.rc07.TouchDown</string>
	<key>PROJECT_ID</key>
	<string>touchdown-dbd81</string>
	<key>STORAGE_BUCKET</key>
	<string>touchdown-dbd81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:782799472423:ios:47acbaae94322a85</string>
	<key>DATABASE_URL</key>
	<string>https://touchdown-dbd81.firebaseio.com</string>
</dict>
</plist>